[Unit]
Description=The PHP FastCGI Process Manager MPHP
After=network.target

[Service]
Type=simple
PIDFile=/run/php/php-fpm-MPHP.pid
ExecStart=/usr/sbin/php-fpm8.2 --nodaemonize --fpm-config /etc/php/8.2/fpm/php-fpm-MPHP.conf
ExecReload=/bin/kill -USR2 $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=false

[Install]
WantedBy=multi-user.target
